extends layout

block content
  h1= title
  p User id: #{user}
  p Light #: #{light}
  p Light is: #{state}
  h2= routes
  p /register/:username/:password
  p /login/:username/:password
  p /:user/:light/toggle -- this will change, was for the first demo