extends layout

block content
  h1= title
  p User id: #{user}
  p Light #: #{light}
  p Light is: #{state}
  h2= routes
  
  p /users   																	Lists all users
  p /gateways 																Lists all gateways
  p /users/erase 															Erases all user data
  p /gateways/erase 													Erases all gateway data
  p /register/:username/:password							Register user
  p /login/:username/:password								Login user
  p /gateway/add/:gateway_id 									Add a gateway
  p /light/add/:gateway_id/:light_id					Add a light
  p /:user/:light/toggle -- this will change, was for the first demo